@import "~antd/dist/antd.css";

#webName {
  margin-top: 0.5em;
  color: hsl(0 0% 98%);
  font-size: x-large;
  padding: 8px 8px 8px 0px;
  min-width: 310px;
}

#welcomeTitle {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  color: #333;
  text-align: center;
}

#welcomeP {
  color: #333;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.ant-timeline-item.ant-timeline-item-right {
  font-size: 18px; /* Set the desired font size for the Timeline content */
}

.ant-timeline .ant-timeline-item-head {
  width: 12px;
  height: 12px;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-label {
  top: -6.001px;
}

.ant-timeline.ant-timeline-alternate .ant-timeline-item-head,
.ant-timeline.ant-timeline-right .ant-timeline-item-head,
.ant-timeline.ant-timeline-label .ant-timeline-item-head {
  margin-left: -5px;
}

.ant-row {
  height: 100%;
}

.ant-col {
  height: 100%;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 16px 8px 16px;
  position: relative;
  max-width: 60%;
  max-height: 80%;
  min-height: 432px;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.container {
  padding: 8px 0px 0px 0px;
  height: 80%;
  width: 80%;
  text-align: justify;
  position: absolute;
  margin: 0 auto; /* 居中显示，可根据需要调整 */
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  position: absolute;
}

.button:hover {
  background-color: #555;
}

.cardImg {
  width: 30%;
}
