@import "~antd/dist/antd.css";

h1 {
  color: hsl(0 0% 98%);
  font-size: x-large;
}

.ant-timeline-item.ant-timeline-item-right {
  font-size: 18px; /* Set the desired font size for the Timeline content */
}
.ant-timeline-item-head.ant-timeline-item-head-blue {
  font-size: 18px; /* Set the desired font size for the Timeline dot */
}
