@import "~antd/dist/antd.css";

h1 {
  font-size: clamp(3rem, 15vmin, 8rem);
  font-family: sans-serif;
  color: hsl(0 0% 98%);
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(210 30% 24%);
}
